<!DOCTYPE html>
<html>
  <head>
    <title>Extravagant Edibles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1 class="jumbotron">Extravagant Edibles</h1>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
      <p><%= link_to "Home", products_path %></p>
    </div>
  </body>
</html>
