<!DOCTYPE html>
<html>
  <head>
    <title>Extravagant Edibles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1 class="jumbotron"><%= link_to "Extravagant Edibles", products_path %></h1>
      <% if current_user %>
        <%= current_user.username %> | <%= link_to "Sign out", '/signout' %>
      <% else %>
        <%= link_to "Sign up", '/signup' %> | <%= link_to "Log In", '/signin'  %>
      <% end %>

      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <%= yield %>
    </div>
  </body>
</html>
